/* Style for the page body */
.sBody{
    background-color:#eff3f9;
    background-image: url("../images/leaves.png");
    /* height: 100%; */
    
}
 
 #mainContent{
    min-height: calc(100vh - 70px);
    /* height: 100%; */
    /* margin-bottom: -50px; */
}  

/* Style for Main container in the header part */
.sMain{
    background-color:white;
    position: absolute;
    width:100%;
    height:12%;
    border-bottom: 1px solid #cccccc;
    top:0; 
}

/* Style for header */
.sHeader{
    position: absolute;
    background-color:#4aaaa5;
    padding: 0 20px; 
    height:100%;
    width:auto;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    top:0;
}

/* Style for container with navigation items */
.sMenu{
    /* background-color: aqua; */
    margin-right:0;
    margin-left:60%;
    margin-top:45px;
}

/* style for navigation tabs */
.sLink {
    float:left;
    display: inline-block;
    text-decoration: none;/*removes the underline */
    width:30%;
    text-align:center;
}

/* style to have the side border in navigation tabs */
.lborder{
    border-right: 1px solid;
}

/* style for the image in index page  */
#flower{
    height:200px;
    width: 150px;
    float:left;
    margin:20px;
}

/* style for container with about me, contact form or portfolio */
.sContent{ 
    background-color: white;
    margin-top:20px; 
    position: absolute;
    top:15%;
    width: 60%;
    border: 0.5px solid #dddddd;

}

.sContentForm{ 
    background-color: white;
    margin-top:20px; 
    position: absolute;
    top:15%;
    width: 60%;
    border: 0.5px solid #dddddd;

}
/* Style for formating the division  */
.dFormat{
    width:60%;
    margin:auto;
    height:auto;
}

.hFormat{
    width:60%;
    margin:auto;
    height:auto;
}
/* style for the footer */
.sFooter{
    background-color:#666666;
    /* position: fixed; */
    position: absolute;
    width:100%;
    height: 5%;
    padding: 20px;
    bottom:0;
    text-align: center;
    border-top-style: solid;
    border-top-color: darkcyan;
    border-top-width: thick;
}

/* All paragraphs are styled with the following */
p{
    text-align: justify;
    margin: 10px 20px;
    font-size: 18px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif   ;
}

/* style for contact heading in contact page */
.contactH2{
    margin-left:20px;
    margin-right: 20px;
    color: darkcyan;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form{
    margin:20px;
}

/* style for input fields */
.input{
    width:100%;
    margin-top:5px;
    margin-bottom:20px;
    padding: 5px 0;
}

/* style for submit button */
.sButton{
    background-color: darkcyan;
    padding:5px 20px;
    color: white;
}

/* style for grid with portfoli images */
.imgGrid{
    display:grid;
    background-color: white;
    grid-template-columns: 200px 200px;
    margin: 0 20px;
    grid-column-gap: 20px;
    
}

/* style for container of a grid item */
 .gridItem{
    margin-bottom: 20px; 
    position: relative;
}   

.imgPortfolio{
    height:100%;
    width:100%;
}

.imgText{
    background-color: darkcyan;
    text-align: center;
    padding: 10px ;
    position: absolute;
    bottom:15px;
    margin:0;
    width:89%;
}

#dFooter{
    position: absolute;;
    /* bottom:0; */
    width:100%;
    height:50%;
}

/*############# Media Query ######################*/
/* media query for devices with screen width less than 640 */
@media only screen and (max-width: 640px) { 
    .sMenu{
        margin-left:0;
        top:70%;
        position: absolute;
        width:60%;
        padding-bottom: 10px;
        margin-top: 25px;
    }

    .imgGrid{
        grid-template-columns: 200px;
    }

    .form {
        position: absolute;
    }

    .sContent{
        height: auto;
    }

    .sContentForm{
        height:75%;
        
    }
    
    .input{
        padding: 0;
        margin-top: 15%;
        margin-bottom: 15%;
    }
/*c1*/
    #dFooter{
        position: fixed;
        bottom:0;
    }
/* c2 */
    .dFormat{
        top:20%;
    }
}

/* media query for devices with screen width less than 768 */
@media only screen and (min-width:648) { 
    .sMenu{
        margin-top:25px;
        width:60%;
        margin-left:50%;
       
    }

    #dFooter{
        position: fixed;
        bottom:0;
    }

    .imgGrid{
       margin:0 10px;
    }


}